/* RESET : permet d'effacer le style par défaut imposé par le navigateur */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------------------*/
/* TEST DE VISUALISATION POUR LES NULS!!!*/

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}

.bggreen {
    background-color: green;
}

.bgyellow {
    background-color: yellow;
}


/*----------------------------------------------------------------------*/
/* CHAGEMENT DE FAMILLE DE POLICE*/
/* pour les titres*/

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4 {

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}


/* pour les paragraphe*/

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p {

    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

/*----------------------------------------------------------------------*/

/* dans un container on un a max-width et un width 100% */
.container-1000 {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}

.container-1000-with-gap {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;


}



/*----------------------------------------------------------------------*/

/* pour bouger nos petites boiboites */
/*rendre flexible un parent = aligner ses enfants */
/* à attribuer au parent*/
/* aller voir https://flexbox.malven.co */

.flex {
    display: flex;
    /*rendre flexible un parent = aligner ses enfants */
    flex-wrap: wrap;
    /* revient à la ligne */
}

/* mettre un espace entre les enfant*/
.space-between {
    justify-content: space-between;
}

/* en plus un espace sur les côtés*/
.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-flexstart {
    justify-content: flex-start;
}
.justify-end {
justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-around {
    align-self: space-around;
}

.text-center {
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.text-justify {
    text-justify: inter-character;
}


.item-center {
    justify-items: center;
}

/*----------------------------------------------------------------------*/
/* seul les margin top et bottom sont tolérés*/
/* Beaucoup de margin bottom et top beaucoup trop, dsl je ne suis pas encore au point*/

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-250 {
    margin-top: 250px;
}

.margin-top-200 {
    margin-top: 200px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-250 {
    margin-bottom: 250px;
}

.padding-20 {
    padding: 20px;
}

.padding-50 {
    padding: 50px;
}

.gap-40 {
    gap: 40 Px;
}

.column-gap-20 {
    column-gap: 20px;
}

.weight-bolder {
    font-weight: bolder;
}

/*----------------------------------------------------------------------*/
/* ce que j'apelle les inchangés*/
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
}

.logo {
    width: 200px;
}

header ul {
    list-style: none;
}

li {
    font-weight: bolder;
    font-size: larger;
}

.txt-white {
    color: white;
}

.size-60 {
    font-size: 60px;
}

.size-40 {
    font-size: 40px;
}

.size-35 {
    font-size: 35px;
}

.size-30 {
    font-size: 30px;
}

.size-25 {
    font-size: 20px;
}

.size-20 {
    font-size: 20px;
}



/*----------------------------------------------------------------------*/
/* CLASSES DE DIMENSISONS */
.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}


.w-20 {
    width: 20%;
}

.w-23 {
    width: 23%;
}

.w-25 {
    width: 25%;
}

.w-28 {
    width: 28%;
}

.w-29 {
    width: 29%;
}

.w-30 {
    width: 33%;
}


.w-33 {
    width: 33%;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40%;
}

.w-42 {
    width: 42%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-52 {
    width: 52%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-68 {
    width: 68%;
}

.w-70 {
    width: 80%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

/*----------------------------------------------------------------------*/

/*classe bouton*/
.btn {
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.btn-primary {
    font-size: 20px;
}

.btn-secondary {
    font-size: 14px;
}

.btn-tri {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    display: inline-block;
    font-size: 20px;
    align-items: center;

}

/*----------------------------------------------------------------------*/
/*balise spéciale*/
span.goldy {
    color: goldenrod;
}

span.goldyProjet {
    background-color: #F4F0EC;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    text-align: center;


}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/*PAGE INDEX*/
/*HEADER*/

header {
    background-color: #E3BB43;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

/*----------------------------------------------------------------------*/
/*FOOTER*/

footer {
    background-color: #E3BB43;
}





/*----------------------------------------------------------------------*/
/*SECTION SECTION HERO*/

/* section hero */
.section-hero {
    background-image: url(asset/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vH;
    border-radius: 0 0 0 180px;
    padding: 0 0 50px 200px;
}

/*----------------------------------------------------------------------*/

/* section CONTACT */

.contact {
    border-radius: 0 250px 0 100px;
}

.call {
    border-radius: 50%;
    background-color: rgb(227, 210, 166);
    width: 55px;
    height: 55px;
    padding: 10px;

}

.call img {
    width: 100%;
}

/*----------------------------------------------------------------------*/
/* section CONFIANCE */

.section-confiance {
    background-color: #F4F0EC;
    padding: 30px;
}

.utilisateur {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

/*Pour aligner les 3 cards, faire comporter les cards comme des conteneurs*/
.card-utilisateur {
    background-color: white;
    border-radius: 20px;
    padding: 18px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.card-utilisateur1 {
    background-color:#ADBE96;
    border-radius: 20px;
    padding: 18px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.card-utilisateur3 {
    background-color:#E3BB43;
    border-radius: 20px;
    padding: 18px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    
    .card-utilisateur2 {
    background-color:#194337;
    border-radius: 20px;
    padding: 18px;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}



/*----------------------------------------------------------------------*/
/*  */

.section-01 {
    background-color: #194337;
}

.section-02 {
    background-color: #E3BB43;
}

.section-03 {
    background-color:#ADBE96;
}
/*----------------------------------------------------------------------*/
/*  */




/*----------------------------------------------------------------------*/
/*SECTION SECTION FOOTER*/

#footer {
    height: 1px;
    width: 100%;
    background-color: gray;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* PAGE DEVIS */

.page-devis {
    background-color: black ;
}

.card-devis {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    
}


label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}


.WTF-rendre-la-dedans {
    object-fit: cover;


    /* or
  object-fit: cover; */
}
/*----------------------------------------------------------------------*/